:root {
    --version-content: "v3.1";
    --theme-name: "DECAY ";
    --theme-letter: "D";
    --main-color: #5502fa;
    --hover-color: #c1004e;
    --scroll-color: #057ddb;
    --noti-color: #057ddb;
}

/* Version */

.membersWrap-2h-GB4:after {
    content: ""var(--version-content);
    position: absolute;
    font-weight: 500;
    right: 0px;
    bottom: 1px;
    color: rgb(255, 0, 85);
    padding-right: 4px;
    padding-left: 2px;
    background-color: #19191b;
}

/* Window bar */

.typeWindows-1za-n7,
.appMount-3VJmYg {
    background-color: #121213 !important;
    padding-top: 4px;
    margin-top: 0px;
}

.container-2lgZY8 {
    background-color: #19191b;
}

/* Guilds menu*/

.scroller-2TZvBN {
    background-color: #121213;
}

.childWrapper-anI2G9 {
    background-color: var(--main-color);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.theme-dark .button-OhfaWu {
    background-color: var(--main-color) !important;
}

.theme-dark .button-OhfaWu:hover {
    background-color: var(--hover-color) !important;
}

.wrapper-232cHJ {
    z-index: 1;
}

.guildsError-b7zR5H {
    background-color: #19191b;
}

/* Server name and channels */

.container-PNkimc {
    background-color: #19191b;
}

.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, 
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: #121213;
}

.theme-dark .wrapper-1ucjTd:hover .content-3at_AU {
    background-color: var(--hover-color);
}

.theme-dark .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh {
    background-color: #19191b;
}

.wrapper-1ucjTd.modeSelected-1zApJ_ {
    background-color: #121213;
    box-sizing: border-box;
    border-bottom: solid 2px var(--main-color);
}

.unread-1xRYoj, .unread-3zKkbm {
    background-color: var(--main-color);
}

.unread-1xRYoj:hover{
    background-color: var(--hover-color);
}

.item-2hkk8m {
    background-color: var(--noti-color);
    box-shadow: 1px 0px 10px 2px var(--noti-color);
}

.name-IbjUBS {
    text-align: center;
    color: var(--main-color);
}

.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2 {
    color: var(--main-color);
}

.circleIconButton-jET_ig {
    background-color: #19191b;
    border-color: var(--main-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    color: var(--main-color);
}

.circleIconButton-jET_ig:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);
    background-color: #19191b;
}

.wrapper-pZmgj4 {
    border-color: var(--main-color);
    border-width: 1px;
    border-style: solid;
}

.users-i_3-kL {
    background-color: #19191b;
}

.total-3tKGEB {
    background-color: #121213;
}

.circleIconButton-jET_ig.selected-ugP_am {
    background-color: #19191b;
    border-color: var(--hover-color);
    color: var(--hover-color);
}

.total-3tKGEB:after {
    border-right-color: #121213;
}

.theme-dark .icon-1_QxNX [d^="M19"] {
    color:#DA4242;
}

/* Username and voice chat */

.container-1giJp5 {
    background-color: #19191b;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #121213;
    border-bottom-width: 0px;
}

.theme-dark .container-3baos1 {
    background-color: #19191b;
    padding-bottom: 6px;
    padding-top: 6px;
    border-top-color: #121213;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 0px;
}

.theme-dark .status-3DaTVG {
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 20px;
    margin-right: 1px;
    margin-bottom: 1px;
}

.theme-dark .menu-Sp6bN1 {
    box-shadow: none;
    border: solid 1px var(--main-color);
}

.theme-dark .separator-2zcjq8 {
    visibility: hidden;
}

.activityPanel-28dQGo { 
    border-bottom: none;
    border-top: 1px solid #121213;
}

.usernameContainer-1fp4nu .title-eS5yk3 {
    font-family:monospace !important;
    font-size: 16px;
}

.gameName-13va7o {
    color: white;
}

.activityPanel-28dQGo {
    background-color: #19191b;
}

/* Top Bar / Channel name */

.theme-dark .title-3qD0b- {
    background-color: #19191b;
}

.theme-dark .modal-3HD5ck {
    background-color: #19191b;
}

.theme-dark .search-2oPWTC .searchBar-3dMhjb {
    background-color: #19191b;
    border-color: #121213;
    box-shadow: 0px 0px 2px 2px #121213;
}

.search-2oPWTC.focused-31_ccS {
    box-sizing: border-box;
    border: 4px solid var(--main-color);
    border-color: var(--main-color);
    border-radius: 5px;
}

.theme-dark .children-19S4PO:after {
    visibility: hidden;
}

.iconBadge-qZ4Ksk {
    animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    40% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/* chat / messages */

.messages-3amgkR {
    background-color: #19191b;
}

.theme-dark .markup-2BOw-j code,
.theme-dark .markup-2BOw-j code.inline,
.theme-dark .markup-2BOw-j pre {
    background-color: #121213;
}

.textAreaEdit-bNLDk3 {
    background-color: #121213;
    border-radius: 5px;
}

.theme-dark .operations-36ENbA>a {
    color: var(--main-color);
}

.theme-dark .reaction-1ELvT8 {
    background: none;
    position: relative;
}

.theme-dark .reaction-1ELvT8,
.theme-dark .reaction-1ELvT8 .emoji {
    border-radius: 20%;
    border: none;
    padding: 4px;
    width: 24px;
    height: 24px;
    margin-bottom: 20px !important;
}

.theme-dark .reaction-1ELvT8 .emoji {
    margin: 0 !important;
    background: none;
}

.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
    background: #121213 !important;
}

.theme-dark .reaction-1ELvT8 {
    width: 32px;
    height: 32px;
    padding: 0;
    margin-right: 4px;
    transform: none !important;
}

.theme-dark .reactionCount-2ddRoS {
    position: absolute !important;
    color: #fff;
    opacity: 0.5;
    left: 0;
    right: 0;
    font-size: 11px;
    letter-spacing: 0;
    margin: 0 auto;
    z-index: 5;
    text-align: center;
    display: block;
    min-width: 32px !important;
    margin-top: 25px;
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
    opacity: 1;
    color: #00ffab !important;
}

.theme-dark .reactions-1xb2Ex .reactionBtn-2na4rd {
    visibility: visible;
    opacity: 0.8 !important;
    margin-top: -16px;
}

.theme-dark .reaction-1ELvT8::before,
.theme-dark .reaction-1ELvT8::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 30%;
    opacity: 0;
}

.theme-dark .reaction-1ELvT8.reactionMe-23mbRf::before {
    box-shadow: inset 0 0 7px var(--main-color);
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.theme-dark .reaction-1ELvT8.reactionMe-23mbRf::after {
    box-shadow: 0 0 0 2px var(--main-color);
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
    opacity: 1;
    pointer-events: none;
}

.reactionInner-rRPZdY {
    padding: 0 0px;
}

.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf,
.theme-dark .messageGroupBlocked-3wrQQX,
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    border-color: #19191b !important;
    background-color: #19191b !important;
}

.emoji.jumboable {
    height: 4rem;
    width: 4rem;
}

.theme-dark .messagesWrapper-3lZDfY {
    border-width: 0px 1px 0px 1px;
    border-color: #121213;
    border-style: solid;
}

.theme-dark .spoilerText-3p6IlD {
    background: repeating-linear-gradient(135deg, #19191b, #19191b 10px, #19191b 10px, #121213 20px);
    box-shadow: 0px 0px 1px 1px var(--main-color);
}

.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover {
    box-shadow: 0px 0px 1px 1px var(--hover-color);
}

/* NSFW Warning */

.theme-dark .content-yTz4x3 {
    background-color: #121213;
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover,
.actionRed-gYn8D3:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
}

/* Members Panel */

.theme-dark .members-1998pB {
    background-color: #19191b;
}

.theme-dark .membersGroup-v9BXpm {
    text-align: center;
    color: var(--main-color);
}

.theme-dark .member-3W1lQa:hover,
.theme-dark .member-3W1lQa.popout-open,
.theme-dark .member-3W1lQa.popout-open:hover {
    background-color: #121213;
}

/* avatars and statuses */

.avatar-16XVId,
.private-channels .channel .avatar-small {
    z-index: 1;
}

.online-2S838R {
    border-color: #43b581 !important;
}

.idle-3DEnRT {
    border-color: #faa61a !important;
}

.dnd-1_xrcq {
    border-color: #f04747 !important;
}

.theme-dark .status-2s6iDp,
.channel-2QD9_O .status-1ibiUI {
    z-index: 1;
    height: 30px !important;
    width: 30px !important;
    bottom: -2px;
    right: -2px;
    border-radius: 100%;
    background-color: transparent !important;
}

/* users own status*/

.avatarSmall-3ACRaI {
    z-index: 1;
}

.container-2Thooq .status-2kJpnA {
    z-index: -1;
    height: 30px !important;
    width: 30px !important;
    bottom: -2px;
    right: -2px;
    border-radius: 100%;
    border-style: solid;
    background-color: transparent !important;
}

.spinner-2enMB9 {
    display: none !important;
}

.mask-3OgeRz {
    -webkit-mask: none !important;
}

.typing-1KJk_j {
    right: -2px !important;
    width: 30px !important;
    animation: typing 1.3s linear infinite;
}

@keyframes typing {
    50% {
        opacity: .1;
    }
}

/* message / text box */

.theme-dark .chat-3bRxxu form {
    background-color: #19191b;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #121213;
    margin: 0px;
    box-shadow: none;
}

.theme-dark .inner-zqa7da {
    background-color: #19191b;
    margin-left: 10px;
    margin-right: 10px;
}

.channelTextArea-rNsIhG {
    margin: 10px;
    border-top: none !important;
    padding-top: 0px !important;
}

.theme-dark .divider-3gKybi:not(.red-1YQ4s7) span,
.theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: rgba(201, 3, 3, 0.911);
    background-color: #19191b !important;
    border-color: #ff0000;
    margin-top: 4px !important;
}

.divider-3gKybi>span {
    padding: 5px;
    line-height: 0px;
}

.divider-3gKybi:before {
    display: none;
}

.theme-dark .divider-3gKybi:not(.red-1YQ4s7) div {
    background: #ff0000;
    opacity: .4;
    margin-top: 4px !important;
}

.theme-dark .messages-wrapper .messages .divider span {
    background-color: #19191b;
}

.typing-2GQL18 {
    bottom: auto;
    width: auto;
    contain: none !important;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: -20px;
    border-radius: 4px 4px 0 0;
    background-color: #121213 !important;
    height: 20px;
}

.spinner-pulsing-ellipsis {
    margin-top: 5px;
}

.theme-dark .isMentioned-N-h9aa {
    background-color: #121213;
    box-shadow: 0 0 5px 5px var(--main-color);
    opacity: 0.7;
}

[tabindex="2"] {
    visibility: hidden;
}

/* Friends Tab */

.privateChannels-1nO12o, .scroller-1JbKMe {
    background-color: #19191b;
}

.selected-aXhQR6.container-2Pjhx- {
    background-color: var(--main-color);
}

.clickable-1JJAn8.container-2Pjhx-:hover {
    background-color: var(--hover-color);
}

.aka-1mqp34 {
    background-color: var(--main-color);
}

.theme-dark .container-3gCOGc {
    background-color: #19191b;
    border-left-color: #121213;
    border-left-style: solid;
    border-left-width: 1px;
}

.theme-dark .container-1r6BKw {
    background-color: #19191b;
}

.friendsTable-133bsv .friendsTableBody-1ZhKif {
    background: none;
}

.theme-dark .topPill-30KHOu .item-PXvHYJ {
    margin-right: 2px;
}

.theme-dark .topPill-30KHOu .item-PXvHYJ:hover {
    background-color: var(--hover-color);
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: var(--hover-color);
    color: white;
}

.tabBar-1E2ExX .primary-3j8BhM {
    background-color: var(--main-color) !important;
}

.tabBar-1E2ExX .primary-3j8BhM:hover:not(.selected) {
    background-color: var(--hover-color) !important;
}

/* Library Tab */

.scroller-1IIF0A {
    background-color: #19191b;
}

.theme-dark .header-39GIC8 {
    background-color: #19191b;
}

.channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--main-color);
}

.channel-2QD9_O:hover a {
    background-color: var(--hover-color);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--main-color);
}

/* Store Tab */

.scroller-9moviB {
    background-color: #19191b;
}

.itemBackground-2vEldQ:before {
    background: none;
}

.theme-dark .searchBox-3Y2Vi7 {
    background-color: #121213;
}

.checked-3_4uQ9 {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.theme-dark .listing-2nUQ4d {
    background-color: #19191b;
}

.theme-dark .popout-2sKjHu {
    background-color: #19191b;
}

.theme-dark .optionActive-KkAdqq {
    background-color: var(--main-color);
}

.theme-dark .optionNormal-12VR9V:hover {
    background-color: var(--hover-color);
}

.theme-dark .entitledHeader-3LRNDT {
    background-color: #121213;
}

.overlappingBorder-1-XPGl {
    border-color: var(--main-color);
}

/* Games Tab*/

.article-FleDq5 {
    border-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
}

.theme-dark .activityFeed-1C0EmJ {
    background-color: #121213;
}

.theme-dark .body-SKIE6r {
    background-color: #19191b;
}

.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: var(--hover-color);
}

.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
    background-color: var(--hover-color);
}

.theme-dark .emptyState-2-sT0o {
    background-color: #19191b;
}

.selectedPage-2JQS2s:before {
    background-color: var(--main-color);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--main-color);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: var(--hover-color);
}

.headerButtonColor-G7_f-V {
    background-color: var(--main-color);
}

/* Server Finder Window */

.theme-dark .pageWrapper-1PgVDX {
    background-color: #19191b;
}

/* User Settings Window */

.sidebarRegionScroller-3MXcoP {
    background: #121213 !important;
}

.contentRegionScroller-26nc1e {
    background-color: #121213 !important;
}

.sidebarRegion-VFTUkN {
    flex: none;
}

.sidebar-CFHs9e {
    padding: 2px 0 0 5px;
}

.side-8zPYf6 .item-PXvHYJ {
    margin-bottom: 0px;
}

.theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--main-color);
}

.theme-dark .side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
.sidebarRegion-VFTUkN.da-sidebarRegion > div > div > div > div > div:nth-child(8):hover {
    background-color: var(--hover-color) !important;
    color: white !important;
}

.itemDefault-3Jdr52.item-PXvHYJ.notSelected-1N1G5p:nth-child(8) {
    color: var(--main-color) !important;
}

.side-8zPYf6 .itemSelected-1qLhcL {
    background-color: var(--main-color) !important;
}

.contentColumnDefault-1VQkGM {
    max-width: inherit;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--main-color);
}

.connection-1fbD7X {
    width: 48%;
    display: inline-block;
    margin: 1%;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: var(--main-color);
}

.barFill-23-gu- {
    background-color: var(--main-color);
}

.bd-pfbtn,
.bda-slist .bda-footer button {
    background-color: var(--main-color);
}
.theme-dark .bda-slist li {
    background-color:#19191b;
}

.theme-dark .card-FDVird:before {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}


/* Server Settings Menu */

.ui-standard-sidebar-view .custom-scroller>div,
.ui-standard-sidebar-view .custom-column {
    max-width: inherit;
}

.side-8zPYf6 .header-2RyJ0Y:first-child {
    padding-top: 3px;
}

.theme-dark .searchBar-1MOL6S {
    background-color: #19191b;
}

/* Unread Bar / New Message Bar */

.newMessagesBar-mujexs,
.theme-dark .jumpToPresentBar-9P20AM {
    background-color: var(--main-color);
}

.newMessagesBar-mujexs:hover,
.theme-dark .jumpToPresentBar-9P20AM:hover {
    background-color: var(--hover-color);
}

.theme-dark .hasMore-3e72_v button {
    background-color: #19191b;
    color: white;
    border-color: var(--main-color);
}

/* ===== MENUS =====  */

/* Server Dropdown Menu */

.theme-dark .menu-Sp6bN1 {
    background-color: #121213;
}

.popout-2iWAc- {
    border-color: var(--main-color);
    border-style: solid;
    border-width: 1px;
    height: inherit !important;
    width: inherit !important;
}

.theme-dark .item-1GzJrl:hover {
    background-color: var(--hover-color);
}

/* Guilds context menu */

.contextMenu-HLZMGh {
    background: #121213;
    border-color: var(--main-color);
    border-style: solid;
    border-width: 2px;
}

.theme-dark .itemSubMenu-1vN_Yn {
    background-color: #121213;
}

.theme-dark .item-1Yvehc:hover {
    background-color: var(--hover-color);
}

/* Messages context menu */

.small-popout-box {
    background-color: #121213;
    border-color: #121213;
}

.option-popout .btn-item:hover {
    background-color: var(--hover-color);
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

/* User-popup add role menu */

.theme-dark #autocomplete-popout section,
#autocomplete-popout {
    background-color: #121213 !important;
    background: none;
}

.theme-dark #autocomplete-popout .row.selected {
    background: var(--hover-color) !important;
}

#autocomplete-popout .autocomplete-arrow-wrapper {
    visibility: hidden;
}

/* Pinned Messages Menu / Recent Mentions Menu */

.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .header-ykumBX {
    background-color: #121213 
}

.theme-dark .messagesPopoutWrap-1MQ1bW {
    max-height: 950px;
}

.recentMentionsFilterPopout-24_uDU {
    border-color: #121213 !important;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G {
    background-color: #121213;
    border-color: var(--main-color);
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G:hover {
    border-color: var(--hover-color);
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: rgb(37, 37, 37);
    box-shadow: none;
    border-radius: 4px;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G .actionButtons-1sUUug .jumpButton-3DTcS_ {
    background-color: transparent;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .footer-1kmXd4 {
    background-color: #19191b;
}

/* Search Bar Menu */

.theme-dark .container-3ayLPN {
    background-color: #121213;
    border: none;
    box-shadow: none;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--hover-color);
}

.theme-dark .option-96V44q:after {
    background: none !important;
}

/* Search Menu Date Picker */

.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: #121213;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: #19191b;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--main-color);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: var(--hover-color);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: var(--main-color);
}

/* Search results */

.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3 {
    background-color: var(--main-color);
}

.theme-dark .searchResultsWrap-2DKFzt,
.theme-dark .searchHeader-1l-wpR,
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: #121213;
    box-shadow: none;
}

.theme-dark .searchResult-3pzFAB .hit-NLlWXA {
    background-color: #19191b;
    box-shadow: none;
    border-color: var(--main-color);
}

.theme-dark .searchResult-3pzFAB.expanded-v2Szsz {
    background-color: #121213 !important;
    border-color: var(--main-color);
    border-width: 2px;
}

.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    border-color: var(--main-color);
    background-color: #19191b;
}

.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: #19191b;
}

.theme-dark .searchResult-3pzFAB:after,
.theme-dark .searchResult-3pzFAB:before {
    background-image: none !important;
}

.theme-dark .searchHeader-1l-wpR .tab-2Ixsn0.selected-16te-P {
    border-bottom: 2px solid var(--main-color);

}

.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    border-color: var(--hover-color);
}


/* Typing commands menu */

.theme-dark .autocomplete-1vrmpx {
    background-color: #121213 !important;
}

.theme-dark .selectorSelected-1_M1WV {
    background-color: var(--hover-color);
}

.theme-dark .description-11DmNu {
    color: white;
}

/* Emoji Picker */

.theme-dark .input-1Rv96N {
    color: #fff !important;
}

.bda-dark .emojiPicker-3m1S-j {
    background-color: #121213;
    border-color: var(--main-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.bda-dark .emojiPicker-3m1S-j,
.searchBar-2_Yu-C.searchBarLight-1NxoDG,
.bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: #121213;
}

.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_ {
    background-color: #19191b;
}

.bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(18, 18, 19, .7)
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: #121213;
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: var(--main-color);
}

.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: var(--hover-color);
}

.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: #121213;
    border-color: var(--main-color);
}

.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: var(--hover-color);
}

/* GIF Picker Menu */

.autocomplete-i9yVHs {
    margin-bottom: 10px;
    margin-left: -20px;
}

.content-ySCtCx {
    height: 500px !important;
}

.theme-dark .categoryFadeBlurple-1j72_A {
    background-color: var(--main-color);
    opacity: .7;
}

.theme-dark .categoryFadeBlurple-1j72_A:hover {
    background-color: var(--hover-color);
    opacity: .8;
}

.theme-dark .focused-1En8bG:after {
    box-shadow: inset 0px 0px 0px 2px var(--main-color);
}

.theme-dark .result-3w1ZcL:hover:after {
    box-shadow: inset 0px 0px 0px 2px var(--hover-color);
}

/* User Profile Menu */

.theme-dark .quickMessage-1yeL4E {
    background-color: #19191b;
}

.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
    background-color: #121213;
}

.theme-dark .headerNormal-T_seeN {
    background: repeating-linear-gradient(135deg, #19191b, #19191b 10px, #19191b 10px, #121213 20px);
}

.theme-dark .headerPlaying-j0WQBV {
    background-image: repeating-linear-gradient(135deg, rgb(130, 154, 255), rgb(121, 193, 245)10px, rgb(126, 142, 211)10px, rgb(130, 154, 255)20px);
}

.headerStreaming-2FjmGz {
    background-image: repeating-linear-gradient(135deg, rgb(160, 146, 255), rgb(91, 79, 242)10px, rgb(104, 33, 189)10px, rgb(137, 125, 255)20px)
}

.statusProfile-3ynqtt.online-2S838R {
    height: 90px;
    width: 90px;
    bottom: 0px;
    right: 0px;
    background: none;
    box-shadow: 0px 0px 8px 4px #43b581 !important;
}

.statusProfile-3ynqtt.idle-3DEnRT {
    height: 90px;
    width: 90px;
    bottom: 0px;
    right: 0px;
    background: none;
    box-shadow: 0px 0px 8px 4px #faa61a !important;
}

.statusProfile-3ynqtt.dnd-1_xrcq {
    height: 90px;
    width: 90px;
    bottom: 0px;
    right: 0px;
    background: none;
    box-shadow: 0px 0px 8px 4px #f04747 !important;
}


/* ===== Popup Windows ===== */

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--hover-color);
}

/* Invite to server Popup */

.wrapper-O5i5-0,
.form-deprecated .form-header,
.form-deprecated .form-inner,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-actions,
.wrapper-O5i5-0 .instantInviteModalAdvanced-3qJETM .form-actions {
    background-color: #121213 !important;
}

.clipboardInputInner-1EXMA3 {
    background: #121213;
    border-color: #19191b;
}

.wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input {
    color: white;
}

.wrapper-O5i5-0 .instantInviteModal-3vhcvC .copy-3nFbq8 {
    background-color: var(--main-color);
    border-left-color: #121213;
}

.wrapper-O5i5-0 .instantInviteModal-3vhcvC .copy-3nFbq8:hover {
    background-color: var(--hover-color);
}

.checkbox .checkbox-inner+span,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-header header,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .blurb-zsamaY,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .expireText-34b09Y {
    color: white;
}

.wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input {
    background-color: #121213 !important;
}

.clipboardInputInner-1EXMA3 button:first-of-type:before {
    visibility: hidden !important;
}

.form-deprecated .btn-primary {
    background-color: var(--main-color);
}

.form-deprecated .btn-primary:hover {
    background-color: var(--hover-color);
}

.form-deprecated .Select-control:hover {
    border-color: var(--hover-color);
}

.form-deprecated .Select-control {
    background-color: #121213;
    border-color: #19191b;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
}

.form-deprecated .Select.is-open .Select-control:hover {
    border-color: var(--main-color);
}

.Select-menu-outer {
    border-color: var(--main-color);
}

.form-deprecated .Select-option {
    color: white;
    background-color: #121213;
}

.form-deprecated .Select-option.is-focused {
    background-color: var(--hover-color);
}

.form-deprecated .btn-default {
    border-bottom-color: #19191b;
}

.form-deprecated .btn-default:hover {
    border-bottom-color: var(--hover-color);
}

/* Profile Popup */

.root-SR8cQa {
    border: solid 1px var(--main-color);
}

.theme-dark .body-3ND3kc {
    background-color: #121213;
}

.theme-dark .topSectionNormal-2-vo2m {
    background: repeating-linear-gradient(135deg, #19191b, #19191b 10px, #19191b 10px, #121213 20px);
}

.topSectionPlaying-1J5E4n {
    background-image: repeating-linear-gradient(135deg, rgb(130, 154, 255), rgb(121, 193, 245)10px, rgb(126, 142, 211)10px, rgb(130, 154, 255)20px);
}

.topSectionStreaming-1Tpf5X {
    background-image: repeating-linear-gradient(135deg, rgb(160, 146, 255), rgb(91, 79, 242)10px, rgb(104, 33, 189)10px, rgb(137, 125, 255)20px)
}


/* File Uploader Popup */

.uploadModal-2ifh8j,
.uploadModal-2ifh8j .footer-3mqk7D,
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: #121213;
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border-color: var(--main-color);
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: var(--main-color);
    color: white;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: var(--hover-color);
    color: white;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border-color: var(--main-color);
}

.theme-brand .content-Qb0rXO {
    color:white;
}

.checkbox-1ix_J3 {
    border-color: var(--main-color) !important;

}

/* Delete Message Popup */

.theme-dark .message-2qRu38 {
    background-color: #19191b;
    box-shadow: 0 0 2px 2px #121213;
}

.theme-dark .footer-2yfCgX {
    background-color: #121213;
    box-shadow: inset 0 1px 0 #19191b !important;
}

.inner-1JeGVc .modal-3HD5ck {
    background-color: #121213 !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: var(--hover-color);
}

/* Help Popup */

.need-help-modal.deprecated .header {
    background-color: var(--main-color);
}

.need-help-modal.deprecated .form-inner.loading,
.need-help-modal.deprecated .footer {
    background-color: #121213;
    border-top-color: #19191b;
}

.need-help-modal.deprecated a {
    color: white;
}

.need-help-modal.deprecated a:hover {
    color: var(--hover-color);
}

.need-help-modal.deprecated .header input[type=text] {
    background-color: #121213;
    border-color: #121213;
    box-shadow: none;
}

/* Add server popup */

.bda-dark .theme-dark .action-1lSjCi, .bda-dark .theme-light .action-1lSjCi {
    background-color: #121213;
    border-color: var(--main-color);
}

.bda-dark .theme-light .slide-2pHaq5 {
    background-color: #121213;
    border-color: var(--main-color);
}

.theme-dark .wrapper-2ZbzR9 {
    border-color: var(--main-color);
    border-style: solid;
    border-width: 2px;
}

.bda-dark .theme-dark .or-3THJsp {
    visibility: hidden;
}

.form.deprecated .btn-primary {
    background-color: var(--main-color);
}

.actionButton-2PeQbJ:hover {
    background-color: var(--hover-color) !important;
}

.theme-light .footer-3rDWdC {
    background-color: #121213;
    box-shadow: inset 0 1px 0 var(--main-color);
}

/* Quick Switcher popup*/

.theme-dark .quickswitcher-3JagVE {
    background-color: #121213 !important;
    box-shadow: 0px 0px 1px 1px var(--main-color);
}

.theme-dark .input-2VB9rf {
    background-color: #19191b;
}

/* Nitro Boost Popup*/ 

.theme-dark .modal-yWgWj-, .theme-dark .footer-3rDWdC {
    background-color: #121213;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: var(--hover-color);
}

.theme-dark .carouselLeftGradientEdge-3P4spl {
    background-image: linear-gradient(90deg,#121213,rgba(54,57,63,0)) !important;
}

.theme-dark .carouselRightGradientEdge-2Z3H8D {
    background-image: linear-gradient(270deg,#121213,rgba(54,57,63,0)) !important;
}

.theme-dark .tierBody-16Chc9 {
    background-color: #19191b;

}


/* ===== SCROLLBARS ===== */

/* Emoji Picker Scrollbar */

.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
}

.bda-dark .emoji-picker .scroller::-webkit-scrollbar,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}

/* Search Results Scrollbar */

.theme-dark .search-results-wrap .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: #121213 !important;
}

.theme-dark .search-results-wrap .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color) !important;
    border: 2px solid #121213 !important;
}


/* Recent Mentions Scrollbar */

.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color) !important;
}

.scroller-wrap.dark .scroller::-webkit-scrollbar-track-piece {
    background-color: #121213 !important;
    border-color: transparent !important;
}

/* chat / messages scrollbar */

.scroller-2FKFPG::-webkit-scrollbar {
    width: 8px;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: #19191b !important;
    border-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color) !important;
    border: 2px solid #19191b !important;
}

/* User List Scrollbar */

.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
}

.scrollerWrap-otKoZo .scroller-2FKFPG::-webkit-scrollbar-track {
    margin-bottom: 16px;
}

/* Channel List Scrollbar */

.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
}

.scrollerWrap-otKoZo.container-PNkimc>div>.scroller-2FKFPG::-webkit-scrollbar-track {
    background: none !important;
}

/* Friends List Scrollbar */

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    border: 2px solid #19191b !important;
    background-color: var(--scroll-color);
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: #19191b !important;
    border: 2px solid #19191b !important;
}

/* Games Tab scrollbar */

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border: 2px solid none !important;
    background-color: var(--scroll-color);
}

.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: #121213 !important;
}

/* Server Settings Window Scrollbar */

.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-color: #121213 !important;
}

.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: #121213;
    border-color: #121213 !important;
}

/* Text area scrollbar */

.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
}

/* DECAY Wordmark */

.wordmark-2iDDfm::after {
    display: inline-block;
    font-weight: 600;
    font-size: 19px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1000 72 '%3E%3Cg fill='%235502fa'%3E%3Cpath class='st1' d='M1000.2,18c-6.1,0-12.1,0-18.2,0c0,17.6,0,35.1,0,52.4c-1.8,0.6-13,0.8-17.9,0.3c-0.1-2.8,0-5.7-0.1-8.6 c0-2.9,0-5.8,0-8.7c0-3,0-6,0-9c0-2.9,0-5.8,0-8.7s0-5.8,0-8.7s0-5.8,0-9c-6.2,0-12.2,0-18.3,0c0-5.7,0-11.1,0-16.4 c1.7-0.5,51.6-0.6,54.4-0.1C1000.2,6.9,1000.2,12.3,1000.2,18z'/%3E%3Cpath class='st1' d='M891.1,59.2c3.7-3.5,7.3-6.8,10.9-10.2c0.6,0.6,1.2,1,1.7,1.5c4,3.5,8.7,5.3,14.1,5c1.7-0.1,3.4-0.6,4.9-1.5 c2.9-1.7,3-5.2,0.3-7.2c-2.3-1.8-5-2.5-7.8-3.1c-2.6-0.6-5.3-0.9-7.8-1.9c-2.5-0.9-5.1-2.2-7.3-3.8c-7.8-5.5-9.7-14.7-7.6-22.4 c1.2-4.5,4-8,7.9-10.5c5.3-3.5,11.2-4.8,17.5-4.7c8.6,0.2,15.9,3.3,21.7,9.8c0.3,0.4,0.6,0.7,1,1.3c-3.8,2.9-7.5,5.8-11.3,8.7 c-0.6-0.5-1.2-1-1.8-1.5c-3.5-2.8-7.4-4.4-12-3.9c-1.7,0.2-3.2,0.7-4.5,1.9c-2.5,2.4-2.4,6,0.5,7.9c1.8,1.2,4,1.9,6,2.5 c3.1,0.9,6.3,1.4,9.3,2.4c2.2,0.7,4.4,1.7,6.4,2.9c5.8,3.3,8.5,8.6,9,15.2c0.7,8.5-2.7,15.1-10,19.4c-13.3,7.9-29.1,6.7-40.3-6.6 C891.7,60,891.5,59.7,891.1,59.2z'/%3E%3Cpath class='st1' d='M884.8,17.7c-10,0-20,0-30.2,0c0,3.7,0,7.1,0,10.8c9.2,0.2,18.4,0,27.6,0.1c0.5,1.8,0.6,11.8,0.2,15.2 c-4.6,0.1-9.2,0-13.8,0c-4.6,0-9.2,0-14,0c0,3.5,0,6.7,0,10.3c3.3,0.2,6.7,0,10,0.1c3.4,0,6.8,0,10.1,0c3.3,0,6.7,0,10.2,0 c0,5.6,0,10.9,0,16.2c-1.7,0.5-42.9,0.8-48,0.3c-0.5-1.6-0.8-64.7-0.3-69.2c1.7-0.4,44.2-0.6,48-0.2 C885.2,3.1,885.3,15.1,884.8,17.7z'/%3E%3Cpath class='st1' d='M769.7,48.8c0.3-2.1,0.5-4.2,0.8-6.3c0.1-0.8,0.2-1.6,0.2-2.3c0.2-4.5,1.6-8.6,3-12.8 c1.8-5.6,3.6-11.2,5.4-16.9c4.5,0,8.8,0,13.3,0c0.2,0.6,0.5,1.3,0.7,1.9c2.1,6.9,4.2,13.8,6.1,20.8c1,3.6,1.3,7.4,2,11.1 c0.2,1.3,0.4,2.7,1,4.1c0.1-0.3,0.3-0.7,0.3-1c0.9-11.3,4.2-22.2,6.9-33.2c1-4,2-7.9,3-11.9c0.1-0.3,0.2-0.6,0.4-0.9 c5.9,0,11.8,0,18,0c-6.6,23.2-13.3,46.3-20,69.4c-5.4,0-10.7,0-16.4,0c-1.8-5.5-3.9-11.1-5.4-16.8c-1.4-5.7-2.2-11.5-3.5-17.4 c-1.1,5.7-2,11.5-3.3,17.1c-1.4,5.7-3.2,11.3-4.8,17.1c-5.4,0-10.7,0-16.4,0c-6.7-23-13.3-46-20.1-69.4c6.3,0,12.1,0,18.2,0 c0.3,1.1,0.7,2.1,0.9,3.3c2.3,9.4,4.8,18.7,6.9,28.1c0.8,3.7,1.1,7.6,1.7,11.4c0.2,1.6,0.4,3.1,0.6,4.7 C769.4,48.8,769.6,48.8,769.7,48.8z'/%3E%3Cpath class='st1' d='M738.5,36.3c0,3.9,0,7.9,0,11.8c0,8.2-3.6,14.5-10.5,18.8c-6.3,4-13.4,5.3-20.8,4.8c-4.8-0.3-9.5-1.4-13.8-3.7 c-5.9-3.1-10.1-7.6-11.8-14.2c-0.4-1.8-0.7-3.7-0.7-5.6c-0.1-8.1-0.1-16.2,0-24.3c0.1-8,3.5-14.2,10.2-18.5c6.4-4.1,13.6-5.4,21.2-5 c4.4,0.3,8.7,1.3,12.7,3.2c7,3.4,11.7,8.6,13.1,16.4c0.2,1.4,0.3,2.8,0.3,4.2C738.5,28.3,738.5,32.3,738.5,36.3z M721,36.3 c0-3.9,0-7.9,0-11.8c0-2.8-1.2-4.9-3.6-6.2c-5-2.6-10.1-2.8-15.1-0.2c-2.6,1.3-3.9,3.6-3.9,6.5c0,7.6,0,15.2,0,22.8 c0,2.8,1.3,4.9,3.7,6.1c5,2.5,10.1,2.6,15.1,0c2.5-1.3,3.8-3.4,3.8-6.3C720.9,43.7,721,40,721,36.3z'/%3E%3Cpath class='st1' d='M620.1,1.2c0.9,0,1.6,0,2.3,0c7.7,0,15.4,0,23.1,0c4.4,0,8.8,0.6,12.9,2.2c9.3,3.5,14.4,10.8,14.5,20.7 c0.1,8.1,0.1,16.2,0,24.3c-0.1,9.6-5,16.6-13.9,20.1c-3.8,1.5-7.9,2.2-12,2.3c-8.5,0.1-17,0-25.5,0c-0.4,0-0.9-0.1-1.5-0.1 c0-5.4,0-10.7,0-16.4c0.9,0,1.7,0,2.5,0c7.6,0,15.2,0,22.9,0c1.5,0,3-0.1,4.4-0.5c2.9-0.7,4.7-2.5,5.2-5.4c0.1-0.8,0.2-1.7,0.2-2.6 c0-6.7,0-13.4,0-20c0-0.7,0-1.4-0.1-2.1c-0.4-3-2.2-4.8-5-5.6c-0.7-0.2-1.4-0.4-2.1-0.4c-3.4,0-6.7,0-10.4,0 c-0.2,2.5-0.1,4.9-0.1,7.3c0,2.5,0,5,0,7.5c0,2.4,0,4.9,0,7.3c0,2.4,0,4.8,0,7.7c-0.8-0.6-1.3-1-1.7-1.4c-4.9-4.9-9.8-9.8-14.7-14.7 c-0.7-0.7-1.3-1.4-1.3-2.6c0-8.8,0-17.6,0-26.4C620,2.2,620,1.9,620.1,1.2z'/%3E%3Cpath class='st1' d='M609,70.8c-5.8,0-11.4,0-17,0c-0.5-1.6-0.7-66.7-0.1-69.4c5.6,0,11.2,0,16.9,0C609.2,3,609.5,64.1,609,70.8z'/%3E%3Cpath class='st1' d='M524.8,48.9c0.1-0.7,0.3-1.5,0.4-2.2c0.4-3.3,0.7-6.7,1.1-10.1c0.1-1.1,0.4-2.2,0.7-3.2 c2.2-7.2,4.5-14.4,6.8-21.6c0.1-0.4,0.3-0.9,0.6-1.4c4.4,0,8.8,0,13.2,0c0.2,0.7,0.5,1.3,0.7,2c2,6.9,4.2,13.7,6,20.6 c1,3.7,1.4,7.5,2.1,11.3c0.2,1.3,0.4,2.6,0.7,4.3c0.3-0.5,0.6-0.8,0.6-1.1c1.1-13.4,5.3-26.1,8.4-39.1c0.6-2.4,1.2-4.7,1.8-7.1 c6,0,11.9,0,18.2,0c-6.7,23.2-13.3,46.3-20,69.4c-5.4,0-10.8,0-16.3,0c-3.9-11.1-7.7-22.3-8.4-34.3c-0.2,0-0.4,0-0.6,0 c-1.1,5.7-2,11.5-3.3,17.1c-1.4,5.7-3.2,11.3-4.8,17.1c-5.4,0-10.7,0-16.4,0c-6.7-23-13.4-46.1-20.1-69.4c6.3,0,12.1,0,18.2,0 c0.3,1.1,0.7,2.2,0.9,3.3c2.3,9.4,4.8,18.7,6.9,28.1c0.8,3.7,1.1,7.6,1.7,11.4c0.2,1.5,0.4,3.1,0.6,4.6 C524.5,48.9,524.6,48.9,524.8,48.9z'/%3E%3C/g%3E%3Cg fill='white'%3E%3Cpath class='st0' d='M460.6,70.8c-6,0-11.6,0-17.5,0c0-0.9,0-1.8,0-2.6c0-7.5,0-15.1,0-22.6c0-1.4-0.3-2.6-1-3.8 c-7.3-12.6-14.6-25.3-21.9-38c-0.4-0.7-0.8-1.5-1.3-2.4c6.9,0,13.5,0,20.3,0c4.1,8.2,8.2,16.6,12.5,25.4c4.3-8.7,8.4-17.1,12.5-25.4 c6.8,0,13.4,0,20.1,0c0.3,1-0.4,1.6-0.8,2.3c-7.2,12.6-14.5,25.2-21.8,37.7c-0.8,1.4-1.2,2.8-1.2,4.4c0.1,7.4,0,14.8,0,22.2 C460.6,68.8,460.6,69.7,460.6,70.8z'/%3E%3Cpath class='st0' d='M411.7,33.8c0.5,0.4,0.7,0.6,1,0.7c6.8,4,10.3,11.7,8.1,20.6c-2.1,8.3-7.4,13.1-15.6,14.9 c-2.5,0.5-5.1,0.9-7.7,0.9c-9.3,0.1-18.5,0-27.8,0c-0.4,0-0.8,0-1.1-0.1c-0.5-1.7-0.7-11.6-0.2-15.3c0.8,0,1.6,0,2.5,0 c8.1,0,16.2,0,24.3-0.1c1.1,0,2.2,0,3.3-0.3c3.4-0.8,5.6-3.7,5.5-7c-0.1-3.5-2.7-6.5-6.3-6.8c-3.8-0.3-7.7,0-11.8,0 c0,2.4,0,4.7,0,7.5c-0.8-0.6-1.2-0.8-1.6-1.2c-5-4.9-9.9-9.9-14.9-14.8c-0.8-0.8-1.3-1.5-1.3-2.6c0-9.2,0-18.4,0-27.6 c0-0.3,0.1-0.6,0.1-1.1c0.6-0.1,1.2-0.2,1.8-0.2c8.7,0,17.5,0,26.2,0c4.5,0,8.9,0.9,12.9,3.3c7.1,4.2,10,10.7,9.4,18.7 c-0.3,3.7-2.1,6.7-4.9,9.1C413.1,32.8,412.5,33.2,411.7,33.8z M385.8,28.4c3.8,0,7.4,0,11,0c0.4,0,0.8-0.1,1.2-0.2 c3-0.8,4.9-3.5,4.6-6.6c-0.3-3-2.5-5.2-5.6-5.4c-2.2-0.1-4.4-0.1-6.6-0.1c-1.5,0-2.9,0-4.5,0C385.8,20.3,385.8,24.2,385.8,28.4z'/%3E%3Cpath class='st0' d='M324.5,70.8c-6,0-11.6,0-17.5,0c0-0.9-0.1-1.7-0.1-2.5c0-7.6,0-15.2,0-22.9c0-1.4-0.3-2.6-1-3.8 c-7.3-12.6-14.5-25.2-21.8-37.8c-0.4-0.7-0.8-1.5-1.3-2.5c6.9,0,13.4,0,20.3,0c4,8.2,8.2,16.5,12.5,25.3c4.4-8.6,8.4-17,12.6-25.3 c6.7,0,13.5,0,20.5,0c-0.5,1-0.9,1.7-1.3,2.4c-7.2,12.5-14.4,24.9-21.6,37.3c-0.9,1.6-1.3,3.1-1.3,4.9c0.1,7.4,0,14.8,0,22.2 C324.5,69,324.5,69.9,324.5,70.8z'/%3E%3Cpath class='st0' d='M270.8,57c-6.2,0-12.3,0-18.5,0c-1.4,4.6-2.9,9.2-4.3,13.8c-6.3,0-12.4,0-18.8,0c8.1-23.3,16.1-46.3,24.2-69.4 c5.4,0,10.6,0,16.1,0c8.2,23,16.5,46.1,24.8,69.4c-6.5,0-12.6,0-18.8,0C273.8,66.3,272.3,61.7,270.8,57z M256.2,41.3 c2,0,3.7,0,5.3,0c1.6,0,3.2,0,4.8-0.1c-0.4-4-4.1-18.8-5.1-20C259.5,27.8,257.9,34.4,256.2,41.3z'/%3E%3Cpath class='st0' d='M229,16.3c-4.8,1.9-9.4,3.8-14.5,5.9c-0.1-0.2-0.2-0.6-0.4-0.8c-3.3-4.9-10.1-5.8-14.8-3.9 c-3.2,1.3-5,3.6-4.9,7.3c0.1,7.5,0.1,15.1,0,22.6c0,3.5,1.6,5.7,4.6,7c5.8,2.6,12.4,0.2,14.6-4.4c0.1-0.2,0.3-0.4,0.6-0.7 c4.9,2.3,9.9,4.6,15,6.9c-0.3,0.7-0.5,1.3-0.8,1.8c-6.4,10.1-15.6,14.7-27.5,13.7c-3.2-0.3-6.4-1-9.3-2.3 c-9.4-4.1-14.6-11.1-14.6-21.6c0-7.9,0-15.7,0-23.6c0-1.7,0.1-3.3,0.4-4.9c1.1-5.8,4.2-10.5,9.2-13.7c8.4-5.4,17.5-6.8,27.1-3.8 C220.8,4,225.7,9.2,229,16.3z'/%3E%3Cpath class='st0' d='M139.1,44c0,3.4,0,6.6,0,10.1c5,0.4,10.1,0.1,15.2,0.2c5,0,10,0,15.2,0c0,5.6,0,10.9,0,16.5 c-16,0-31.9,0-47.9,0c0,0-0.1,0-0.1-0.1c0,0-0.1-0.1-0.1-0.2c-0.1-0.6-0.2-1.3-0.2-1.9c0-22.2,0-44.3,0-66.5c0-0.2,0.1-0.4,0.3-0.8 c15.9,0,31.8,0,48.1,0c0,5.4,0,10.8,0,16.4c-10.3,0-20.3,0-30.5,0c0,3.6,0,7.1,0,10.8c3,0.2,6,0,9.1,0.1c3.1,0,6.3,0,9.4,0 c3.1,0,6.1,0,9.1,0c0.6,1.8,0.7,10.7,0.3,15.1c-0.8,0-1.6,0.1-2.4,0.1c-7.6,0-15.2,0-22.9,0C140.9,43.9,140,43.9,139.1,44z'/%3E%3Cpath class='st0' d='M76.1,17.8c0,10,0,19.8,0,30c-0.7-0.6-1.1-1-1.5-1.3c-5-4.9-9.9-9.9-14.9-14.8c-0.8-0.8-1.2-1.5-1.2-2.6 c0-8.7,0-17.5,0-26.2c0-0.4,0.1-0.9,0.1-1.5c0.8,0,1.5-0.1,2.1-0.1c7.8,0,15.6,0,23.4,0c4.4,0,8.8,0.6,12.9,2.2 c9.2,3.5,14.3,10.8,14.4,20.6c0.1,7.7-0.1,15.4,0,23.1c0.3,12.1-6.8,20.1-18.4,22.8c-2.5,0.6-5.1,0.9-7.7,0.9 c-8.4,0.1-16.8,0-25.2,0c-0.4,0-0.9,0-1.5-0.1c0-5.4,0-10.7,0-16.2c0.8,0,1.6-0.1,2.4-0.1c7.8,0,15.6-0.1,23.3-0.2 c1,0,2.1-0.1,3-0.3c4.2-0.7,6.3-3.1,6.5-7.4c0-0.9,0-1.7,0-2.6c0-6,0-11.9,0-17.9c0-0.9-0.1-1.9-0.2-2.8c-0.4-2.7-2.1-4.3-4.6-5.2 c-0.6-0.2-1.2-0.4-1.8-0.4C83.7,17.8,80.1,17.8,76.1,17.8z'/%3E%3Cpath id='Dash' class='st0' d='M0.2,50.6c0-5.5,0-10.8,0-16.3c10.1,0,20.2,0,30.4,0c0,5.4,0,10.8,0,16.3 C20.5,50.6,10.4,50.6,0.2,50.6z'/%3E%3C/g%3E%3C/svg%3E") !important;
    background-size: 100% 100%;
    height: 16px;
    width: 134px;
    margin-left: 3px;
    vertical-align: 0px;
    content: " "
}

/* ===== EXTRAS =====*/

/* Citador quoting button */

.citar-btn {
    order: 5;
    top: 1px !important;
    background-color: #19191b !important;
    padding: 6px 6px 0px 6px !important;
}


/* emojipicker emoji size and spacing*/

.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA {
    width: 40px;
    height: 40px;
}

.emojiPicker-3m1S-j .scroller-3vODG7 .row-3j9Kuo {
    height: 44px;
}

.spriteItem-2AFL7r {
    margin: 9px !important;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    right: 8px;
    line-height: 40px; 
}




/* autocomplete emoji size */

.icon-3ZzoN7 {
    width: 50px !important;
    height: 50px !important;
}

.emojiPicker-3m1S-j .scroller-3vODG7 {
    height: 78vh;
}


/* Save to temp fix */
.clickable-11uBi-:hover, .selected-BYpGTS {
    background-color: var(--hover-color);
}
